@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
}

.bgImage {
  background-image: url("./assets/bgImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 100vh;
  background-position: center;
}

/* @media (min-width: 640px) {
  .bgImage {
    min-height: 640px;
  }
}

@media (min-width: 768px) {
  .bgImage {
    min-height: 768px;
  }
}

@media (min-width: 1024px) {
  .bgImage {
    min-height: 1024px;
  }
}

@media (min-width: 1280px) {
  .bgImage {
    min-height: 1280px;
  }
} */
