@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {
  :root {
    --background: hsl(0, 0%, 98%);
    --card: hsl(0, 5%, 85%);
    --card-foreground: hsl(0, 0%, 36.9%);
    --popover: hsl(0, 5%, 85%);
    --popover-foreground: hsl(0, 0%, 36.9%);
    --primary: hsl(184, 100%, 39.6%);
    --primary-foreground: hsl(180, 38%, 89%);
    --secondary: hsl(197, 100%, 20%);
    --secondary-foreground: hsl(184, 100%, 39.6%);
    --muted: hsl(200, 14%, 74%);
    --muted-foreground: hsl(0, 0%, 100%);
    --accent: hsl(36, 89%, 54%);
    --accent-foreground: hsl(184, 100%, 39.6%);
    --destructive: hsl(342, 78%, 60%);
    --destructive-foreground: hsl(180, 38%, 89%);
    --border: hsl(210, 16%, 72%);
    --input: hsl(210, 16%, 72%);
    --ring: hsl(184, 100%, 39.6%);
    --radius: 0.5rem;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

.bgImage {
  background-image: url("./assets/bgImage.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 100vh;
  background-position: center;
}

@media only screen and (max-width: 767px) {
  .bgImage {
    background-image: url("./assets/bgMobile.webp");
  }
}
